// _variables.scss
$font-primary: 'Poppins', sans-serif;

$color-black: #252525;
$color-gray: #9D9D9D;
$color-blue: #1E88E5;
$color-light-green: #F2FAFA;
$color-transparent: rgba(#fff, 0);

$default-transition: 0.2s linear;
